.product-list-page {
    /* Width maximo un 4/5 de la pantalla */    
    max-width: 80%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  
  .filters {
    padding: 16px;
    background-color: #d1d5db; /* bg-gray-300 */
    border-radius: 8px;
  }
  
  .filter-group {
    margin-bottom: 16px;
  }
  
  .filter-label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: 500;
    color: #1e293b; /* text-slate-800 */
  }
  
  .filter-select,
  .filter-checkbox {
    width: 100%;
    padding: 8px;
    border: 1px solid #cbd5e1; /* border-gray-300 */
    border-radius: 4px;
    background-color: #ffffff; /* bg-white */
    font-size: 1rem;
    color: #1e293b; /* text-slate-800 */
  }
  
  .filter-checkbox {
    display: flex;
    align-items: center;
  }
  
  .filter-checkbox input {
    margin-right: 8px;
  }

  
  .products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  
  @media (min-width: 1024px) {
    .product-list-page {
      grid-template-columns: 200px 1fr;
      gap: 32px;
    }
  
    .products {
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }
  }
  
  .product-card {
    margin-top: 44px;
    width: 350px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #ffffff; /* bg-white */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    position: relative;
    padding: 10px;
    height: 384px;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .product-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .product-details {
    padding: 16px;
  }
  
  .product-title {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 600;
    color: #1e293b; /* text-slate-800 */
  }
  
  .product-price {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-primary);
  }
  
  .product-description {
    font-size: 1rem;
    font-weight: 300;
    color: #475569; /* text-slate-600 */
  }
  
  .add-to-cart-button {
    margin-top: 24px;
    width: 100%;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-primary);
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .add-to-cart-button:hover {
    background-color: var(--color-secondary);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  }
  
  .add-to-cart-button:focus,
  .add-to-cart-button:active {
    background-color: #0891b2; /* focus:bg-cyan-700 */
    box-shadow: none;
  }
  
  .add-to-cart-button:disabled {
    pointer-events: none;
    opacity: 0.5;
    box-shadow: none;
  }