.main {
	--columns: 1fr;

	display: grid;
	grid-template-columns: auto var(--columns) auto;
	gap: 16px;
	padding: 1rem;
}

@media (min-width: 768px) {
	.main {
		--columns: 200px 1fr;
		gap: 10px;
	}
}

@media (min-width: 1024px) {
	.main {
		--columns: 350px 1fr;
		padding: 1.5rem;
		gap: 16px;
	}
}
