
/* HEADER STYLES <<<<<<<<<  */
/* HEADER STYLES <<<<<<<<<  */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-background-accent);
    color: var(--color-text-dark);
  }
  
  .logo a {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    color: var(--color-primary);
    text-decoration: none;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    font-family: var(--font-secondary);
    color: var(--color-text-dark);
    text-decoration: none;
  }
  
  .nav a:hover {
    color: var(--color-primary);
  }
  
  .cart a {
    font-family: var(--font-secondary);
    color: var(--color-text-dark);
    text-decoration: none;
  }
  
  .cart a:hover {
    color: var(--color-primary);
  }


/* HERO SECTION STYLES <<<<<<<<< */
/* HERO SECTION STYLES <<<<<<<<< */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--color-background-accent);
}

.imageContainer {
  flex: 1;
}

.image {
  width: 100%;
  height: auto;
}

.textContainer {
  flex: 1;
  text-align: center;
}

.title {
  font-family: var(--font-primary);
  font-size: 2.5rem;
  color: var(--color-primary);
}

.subtitle {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  color: var(--color-text-dark);
}

.ctaButton {
  background-color: var(--color-primary);
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  font-family: var(--font-interaction);
}

.ctaButton:hover {
  background-color: var(--color-secondary);
}
