/* HEADER STYLES */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-background-accent);
  color: var(--color-text-dark);
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: var(--color-background-accent);
  box-shadow: var(--shadow-medium);
}

.container {
  max-width: 80rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  align-content: center;
  height: auto;
  padding-top: 0.5rem;

  @media only screen and (min-width: 62rem) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    height: 4.25rem;
    padding-top: 0;
    margin: 0 auto;
  }
}

.logo {
  justify-self: start;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.brand {
  justify-self: start;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: var(--color-red-500);
}

/* SEARCH STYLES */
.search {
  grid-column: span 2;
  order: 3;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-block: 1rem;
  background: white;
  padding-inline: 1rem;
  border-radius: 3rem;

  &-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  &-input {
    display: block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: inherit;
    width: 100%;
    height: 100%;
    padding-block: 0.75rem;
    border: none;
    outline: none;
    background: transparent;
  }

  &-icon {
    height: 18px;
    width: 18px;
  }

  // Responsive Media Query
  @media only screen and (min-width: 62rem) {
    justify-self: center;
    grid-column: initial;
    order: initial;
    width: 100%;
    height: auto;

    &-form {
      max-width: 30rem;
    }
  }
}


/* MENU STYLES */
.menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-block: 3rem 2rem;
  background: var(--color-white-100);
  box-shadow: var(--shadow-medium);
  transition: all 0.45s ease-in-out;

  &.isActive {
    top: 0;
    width: 100%;
    height: inherit;
  }

  .menuInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.25rem;
  }

  .menuLink {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    color: var(--color-black-500);
    transition: all 0.35s ease-in-out;

    &:hover {
      outline: none;
      color: var(--color-red-400);
    }
  }

  @media only screen and (min-width: 36rem) {
    position: relative;
    justify-self: end;
    top: 0;
    left: inherit;
    width: auto;
    height: auto;
    padding-block: 0;
    background: none;
    box-shadow: none;
    transition: none;

    .menuInner {
      display: flex;
      flex-direction: row;
      column-gap: 1.25rem;
      margin: 0 auto;
    }

    .menuLink {
      text-transform: capitalize;
    }
  }
}


/* HERO SECTION STYLES <<<<<<<<< */
/* HERO SECTION STYLES <<<<<<<<< */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--color-background-accent);
}

.imageContainer {
  flex: 1;
}

.image {
  width: 100%;
  height: auto;
}

.textContainer {
  flex: 1;
  text-align: center;
}

.title {
  font-family: var(--font-primary);
  font-size: 2.5rem;
  color: var(--color-primary);
}

.subtitle {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  color: var(--color-text-dark);
}

.ctaButton {
  background-color: var(--color-primary);
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  font-family: var(--font-interaction);
}

.ctaButton:hover {
  background-color: var(--color-secondary);
}
