.header {
	width: 100%;

	padding-inline: 0 1rem;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--color-accent1);
}

.logo {
	display: flex;
	align-items: center;

	& figcaption {
		font-size: 1.25rem;
	}
}

@media (min-width: 768px) {
	.header {
		z-index: 1;
	}
}
