.nav {
	margin-inline: auto 0;
	padding-top: 2rem;

	width: 100%;
	max-width: 50vw;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: var(--color-accent1);

	border: none;

	z-index: 1;

	transform: translateX(100%);
	transition: transform 500ms ease-in-out;
}

.nav:popover-open {
	transform: translateX(0);
}

.nav::backdrop {
	background-color: color-mix(in srgb, var(--color-accent3) 25%, transparent);
	transition: background-color 500ms ease-in-out;
}

.nav ul li {
	list-style: none;

	padding: 0.5rem 1rem;
	font-size: 1.125rem;
}

.navList {
	width: 100%;
}

.navList details {
	cursor: pointer;

	& summary {
		list-style: none;
	}

	& li {
		width: auto;

		/* & a {
			display: block;

			font-size: 0.85rem;
			font-weight: 500;

			border-left: 3px solid transparent;

			&:hover {
				border-left: 3px solid white;
				background-color: #7777;
			}
		} */
	}
}

.menu {
	background-color: transparent;
	color: black;

	border: none;

	font-size: xx-large;
}

@media (min-width: 768px) {
	.nav {
		margin-inline: 0;
		padding-top: 0;

		width: fit-content;
		max-width: none;
		height: auto;

		flex-direction: row;

		background-color: transparent;

		transform: none;
		transition: none;

		z-index: 0;
	}

	.navList {
		width: 100%;

		display: flex;
		align-items: stretch;
	}

	.navList details {
		position: relative;

		& ul {
			position: absolute;
			min-width: 100%;

			background-color: var(--color-accent1);

			/* & li {
				& a {
					border-left: none;
					text-align: center;

					display: block;
					padding: 1rem;

					&:hover {
						border-left: none;
					}
				}
			} */
		}
	}
}
